@media screen and (max-width: 576px) {


    /* common style  */
    .flex {
        display: flex;
        flex-direction: column;
    }



    header {
        background-color: rgba(255, 144, 14, 0.1);
    }


    /* navigation bar  */
    nav {
        padding: 50px 0px;
        justify-content: space-between;
        align-items: center;
    }



    .nav-links {
        list-style: none;
        gap: 20px;

    }

    .nav-links .nav-link a {
        color: #424242;
        font-size: 1.125rem;
    }



    /* banner section  */
    nav,
    .banner {
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
    }

    .banner-content {
        max-width: 862px;
        margin: 0 auto;
    }

    .banner-content h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .banner-content p {
        margin-bottom: 32px;
        font-size: 1rem;
    }

    .banner-content button {
        padding: 20px 25px;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 1.25rem;
    }

    .banner-img img {
        width: 100%;
    }

    /* main section  */
    main {
        max-width: 1440px;
        margin: 0 auto;

    }

    .main-content {
        gap: 76px;

        align-items: center;
        text-align: center;
    }

    .main-imgs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .main-img img {
        width: 100%;
    }

    .main-text h2 {
        font-size: 2.8125rem;
        margin-bottom: 24px;
    }

    .main-text {
        max-width: 537px;
    }

    .main-text p {
        font-size: 1rem;
        margin-bottom: 32px;
        text-align: justify;
    }
}